@import url("https://use.typekit.net/ycm4kqg.css");

.sidenav a {
	font-family: casablanca-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
}
h5 {
	font-family: casablanca-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
}

h4 {
	font-family: casablanca-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1em;
}

h3 {
	font-family: casablanca-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1em;
}

h2 {
	font-family: casablanca-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2.4em;
}

p {
	font-family: grenadine-mvb, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
}

.btn2 {
	font-family: casablanca-urw, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
}

.tagline h1 {
	font-family: casablanca-urw, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 4em;
}

h6 {
	font-family: grenadine-mvb, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
}



@media only screen and (max-width: 414px) {
	.sidenav a {
		font-size: 1.4em;
	}

h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1em;
}
p {
	font-size: 1.1em;
}
.tagline h1 {
	font-size: 2.2em;
}
h6 {
	font-size: 0.8em;
}
}